*, *:after, *:before
  padding: 0
  margin: 0
  box-sizing: border-box

html
  height: 100%
  font-size: 100%
  line-height: 1.6
  color: #fff
  background-color: $bg_color

a
  color: inherit
  text-decoration: none