.afisha {
  &__wrapper {
    @extend %wrapper;
  }
  &__navigation {
    border-bottom: 4px solid $brand_color;
  }
  &__menu {
    @extend %wrapper;
    display: flex;
    justify-content: flex-end;
  }
  &__tab {
    width: 33.33%;
    padding: 1em;
    border: 0;
  }
  &__tabTitle {
    font-size: 1em;
    font-weight: normal;
  }
  &__content {
    position: relative;
  }
}