.gallery {
  padding-bottom: 1em;
  &__wrapper {
    @extend %wrapper;
  }
  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__movieLink {
    color: $brand_color;
    text-decoration: underline;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb {
  position: relative;
  height: 0;
  border-radius: 0;
  margin: 0;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: $brand_color;
    transition: opacity .1s ease-in-out;
  }
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb:hover {
  &:before {
    opacity: .9;
  }
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb:not(:last-child) {
  margin: 0;
}

// movie page
.gallery__content--movie .ng-image-gallery-thumbnails .thumb {
  width: 16.66%;
  padding-bottom: 10%;
}
// gallery page
.gallery__content--gallery .ng-image-gallery-thumbnails .thumb {
  width: 25%;
  padding-bottom: 14%;
}
// person page
.gallery--person {
  padding-top: 1em;
  border-top: 1px solid $brand_color;
}
.gallery__content--person .ng-image-gallery-thumbnails .thumb {
  width: 33.33%;
  padding-bottom: 33.33%;
}