.page {
  font-family: $primary_font;
  font-size: 100%;
  line-height: 1.4;
  color: #fff;
  background-color: $bg_color;
  min-width: $min_width;
  overflow-y: scroll;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  &__content {
    padding-top: 5em;
    flex: 1;
  }
  &__footer {
    position: relative;
  }
}