.person {
  &__wrapper {
    @extend %wrapper;
  }
  &__details {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    padding-right: 1em;
    border-right: 1px solid $brand_color;
  }
  &__portrait {
    display: block;
    width: 100%;
  }
  &__info {
    padding: 1em 0;
  }
  &__infoElement {

  }
  &__infoKey {
    font-weight: bold;
    text-transform: capitalize;
  }
  &__infoValue {
    margin-bottom: 1em;
  }
  &__main {
    padding-left: 300px;
    margin-left: 2em;
  }
  &__biography {
    margin-bottom: 1em;
    white-space: pre-wrap;
  }
  &__credits {
    position: relative;
  }
}