.person {
  &__wrapper {
    @extend %wrapper;
    display: flex;
    flex-direction: row;
  }
  &__details {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    padding-right: 1em;
    border-right: 1px solid $brand_color;
  }
  &__portrait {
    display: block;
    width: 100%;
  }
  &__info {
    padding: 1em 0;
  }
  &__infoElement {

  }
  &__infoKey {
    font-weight: bold;
    text-transform: capitalize;
  }
  &__infoValue {
    margin-bottom: 1em;
  }
  &__biography {
    margin-bottom: 1em;
    white-space: pre-wrap;
  }
  &__credits {
    padding-left: 1em;
  }
}