.posters {
  &__grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__element {
    width: 25%;
    padding-bottom: 37%;
    background-position: center;
    background-size: cover;
  }
}