.search {
  &__wrapper {
    @extend %wrapper;
  }
  &__form {
    margin-bottom: 1em;
  }
  &__textbox {
    background-color: transparent;
    border: 1px solid $brand_color;
    font-size: 1em;
    padding: .25em .5em;
    line-height: 1.6;
  }
  &__button {
  }

  &__navigation {
    border-bottom: 4px solid $brand_color;
    margin-bottom: 1em;
  }

  &__menu {
    @extend %wrapper;
    display: flex;
    justify-content: flex-end;
  }
  &__navButton {
    width: 33.33%;
    padding: 1em;
    border: 0;
  }

  &__results {
    position: relative;
  }

}