.search {
  &__wrapper {
    @extend %wrapper;
  }
  &__form {
    display: flex;
    margin-bottom: 1em;
  }
  &__textbox {
    background-color: transparent;
    border: 1px solid $brand_color;
    font-size: 1em;
    color: #fff;
    padding: .25em .5em;
    line-height: 1.6;
    flex-grow: 1;
    margin-right: .5em;
  }
  &__button {
    font-size: 1em;
    line-height: 1.6;
    flex-grow: 0;
  }
  &__navigation {
    border-bottom: 4px solid $brand_color;
    margin-bottom: 1em;
  }
  &__menu {
    @extend %wrapper;
    display: flex;
    justify-content: flex-end;
  }
  &__tab {
    width: 33.33%;
    padding: 1em;
    border: 0;
  }
  &__tabTitle {
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
  }

  &__results {
    position: relative;
  }

}