[ui-view] {
  &.ng-enter, &.ng-leave {
    transition: opacity .75s linear
  }
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

