.button
  padding: .5em 2em
  color: #fff
  background-color: transparent
  border: 1px solid #fff
  border-radius: 2px
  transition: background-color .2s ease-in-out, border .2s ease-in-out
  outline: 0
  &:hover, &_active
    background-color: $color_angular_light
    border: 1px solid $color_angular_light
  &[disabled]
    color: #aaa
    border: 1px solid #aaa
    background-color: transparent
    &:hover
      background-color: transparent
