.button
  padding: .5em 2em
  background-color: transparent
  border: 1px solid $color_contrast
  border-radius: 2px
  transition: background-color .1s ease, color .1s ease
  outline: 0
  &:hover, &_active
    color: #fff
    background-color: $color_contrast
  &[disabled]
    color: #aaa
    border: 1px solid #aaa
    background-color: transparent
    &:hover
      background-color: transparent
