.catalog
  &__content
    display: flex
    flex-wrap: wrap
    justify-content: center
  &__poster
    position: relative
    width: 25%

@media (max-width: 1024px)
  .catalog
    &__poster
      width: 33.33%
@media (max-width: 768px)
  .catalog
    &__poster
      width: 50%
@media (max-width: 480px)
  .catalog
    &__poster
      width: 100%