.content
  display: flex
  flex-direction: column
  justify-content: space-between
  position: relative
  &__wrapper
    width: 100%
    padding: 2em

@media (max-width: 480px)
  .content
    &__wrapper
      text-align: center