.details
  padding: 0 1em
  &__element
    vertical-align: top
  &__title
    padding: 1em
    padding-top: 0
    color: $color_secondary
  &__value
    padding: 1em
    padding-top: 0

@media (max-width: 480px)
  .details
    &__title
      display: block
      padding-left: 0
      padding-right: 0
      padding-bottom: 0
    &__value
      display: block
      padding-left: 0
      padding-right: 0
    &__element
      &:last-child
        .details__value
          padding-bottom: 0