.person
  &__content
    display: flex
    align-items: flex-start
  &__poster
    border: 1px solid #fff
  &__filmsGroup
    margin-top: 2em
    padding-top: 1em
    border-top: 1px solid #aaa
  &__filmsGroupTitle
    font-size: 1.5em
    font-weight: normal
  &__filmTable
  &__film
  &__filmCell
    padding-top: .5em
  &__filmCounter
    padding-right: 1em
    text-align: center
    color: #aaa
  &__filmTitle
    &_main
    &_sub
      color: #aaa