.person
  &__subject
    margin-bottom: 4em
  &__name
    margin: 0
    font-size: 2em
    font-weight: normal
    color: #fff
    text-align: center
    &_main
      font-size: 2em
    &_sub
      font-size: 1em
      color: #aaa
  &__content
    display: flex
    align-items: flex-start
  &__poster
    border: 1px solid #fff
  &__filmsGroup
    margin-top: 2em
    padding-top: 1em
    border-top: 1px solid #aaa
  &__filmsGroupTitle
    font-size: 1.5em
    font-weight: normal
  &__filmTable
  &__film
  &__filmCell
    padding-top: .5em
  &__filmCounter
    padding-right: 1em
    text-align: center
    color: #aaa
  &__filmTitle
    &_main
    &_sub
      color: #aaa