.seances
  &__title
    margin: 0
    margin-bottom: 1em
    font-size: 2em
    font-weight: normal
    color: #fff
    text-align: center
  &__list
  &__element
    border-top: 1px solid #aaa
  &__cell
    padding: 1em
    &:first-child
      padding-left: 0
  &__poster
    display: block
  &__time
    font-size: 1em
  &__3d
    top: -1em
    font-size: .5em
    color: yellow