.seances
  &__list
  &__element
    border-top: 1px solid $color_secondary
  &__cell
    padding: 1em
    &:first-child
      padding-left: 0
  &__poster
    display: block
  &__time
    font-size: 1em
  &__3d
    top: -1em
    font-size: .5em
    color: $color_important