.search
  &__element
    margin-top: 1em
    padding-top: 1em
    border-top: 1px solid #aaa
  &__img
    width: 90px
    vertical-align: top

  &__info
    padding-left: 1em
    display: inline-block
    vertical-align: top

  &__title
    &_ru
    &_en
      color: #aaa

  &__year

  &__description
    margin-top: 1em

  &__rating
