.subject
  margin-bottom: 2em
  &__title
    margin: 0
    font-weight: normal
    text-align: center
    &_main
      font-size: 2em
      color: #fff
    &_sub
      font-size: 1em
      color: #aaa