<div ng-if="afishaCtrl.status == 'Loading'">
  <div class="loader"></div>
</div>

<div class="afisha" ng-if="afishaCtrl.status == 'Ready'">
  <div class="subject">
    <h1 class="subject__title subject__title_main">Афиша</h1>
  </div>
  <nav class="afisha__buttons">
    <a ui-sref="afisha.today" class="afisha__button button" ng-class="{button_active: afishaCtrl.getClass('afisha.today')}">Сегодня</a>
    <a ui-sref="afisha.soon" class="afisha__button button" ng-class="{button_active: afishaCtrl.getClass('afisha.soon')}">Скоро</a>
  </nav>

  <div class="afisha__content" ui-view></div>

</div>