<div ng-if="filmsCtrl.status == 'Loading'">
  <div class="loader"></div>
</div>

<div class="catalog" ng-if="filmsCtrl.status == 'Ready'">
  <div class="subject">
    <h1 class="subject__title subject__title_main">{{filmsCtrl.pageTitle}}</h1>
  </div>
  <div class="catalog__content">
    <div class="catalog__poster poster" ng-repeat="film in filmsCtrl.films">
      <div class="poster__wrapper">
        <a href="#/film/{{film.id}}" class="link">
          <img class="poster__img" src="img/blank_poster.png" alt="Постер {{film.nameRU}}" style="background-image: url('{{filmsCtrl.switchPosterSize(film.posterURL, 360)}}')" />
          <p class="poster__description">
            <span class="poster__title poster__title_ru">{{film.nameRU}}</span>
            <span class="poster__title poster__title_en">{{film.nameEN}}</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>