<div ng-if="cinemaCtrl.status == 'Loading'">
  <div class="loader"></div>
</div>

<div class="cinema" ng-if="cinemaCtrl.status == 'Ready'">
  <div class="subject">
    <h1 class="subject__title subject__title_main">Кинотеатр "{{cinemaCtrl.cinemaContent.cinemaName}}"</h1>
  </div>
  <div class="cinema__info">
    <p ng-if="cinemaCtrl.cinemaContent.cinemaLocation.addressDescription" class="cinema__address">
      {{cinemaCtrl.cinemaContent.cinemaLocation.addressDescription}}
    </p>
    <p ng-if="cinemaCtrl.cinemaContent.cinemaTelephone" class="cinema__phone">
      {{cinemaCtrl.cinemaContent.cinemaTelephone}}
    </p>
    <a ng-if="cinemaCtrl.cinemaContent.cinemaWeb" href="{{cinemaCtrl.cinemaContent.cinemaWeb}}" target="_blank" class="link">
      Перейти на сайт кинотеатра
    </a>
  </div>

  <select class="select cinema__select" ng-model="cinemaCtrl.cinemaSelect" ng-options="day for day in cinemaCtrl.days" ng-change="cinemaCtrl.getData(cinemaCtrl.cinemaSelect)"></select>

  <div class="seances">
    <table ng-if="cinemaCtrl.cinemaContent" class="seances__list">
      <tr class="seances__element" ng-repeat="film in cinemaCtrl.cinemaContent.seance.items">
        <td class="seances__cell">
          <a ui-sref="film({filmId: film.filmID})">
            <img class="seances__poster" ng-src="{{film.posterURL}}" alt="" />
          </a>
        </td>
        <td class="seances__cell">
          <a class="link" ui-sref="film({filmId: film.filmID})">{{film.nameRU}}</a>
        </td>
        <td class="seances__cell">
          <div ng-if="film.seance">
            <span class="seances__time" ng-repeat="seance in film.seance track by $index">{{seance.time}}{{$last ? '' : ', '}}</span>
          </div>
          <div ng-if="film.seance3D">
            <span class="seances__time" ng-repeat="seance in film.seance3D track by $index">{{seance.time}}<sup class="seances__3d"style="color: yellow;">3D</sup>{{$last ? '' : ', '}}</span>
          </div>
        </td>
      </tr>
    </table>
    <p ng-if="!cinemaCtrl.cinemaContent">К сожалению, в кинотеатре "{{seancesCtrl.seancesContent.nameRU}}" нет сеансов.</p>
  </div>
</div>
