<div class="credits">

  <backdrop ng-if="creditsCtrl.subject" path="{{creditsCtrl.subject.backdrop_path}}" class="backdrop--muted"></backdrop>

  <div class="credits__wrapper">

    <h1 class="title title--main">
      <!--<a class="credits__movieLink" ui-sref="movie({movieId: creditsCtrl.movie.id})">{{creditsCtrl.movie.title || creditsCtrl.movie.name}}</a> → Credits-->
      <a class="credits__movieLink" ng-href="{{creditsCtrl.getParentUrl()}}">{{creditsCtrl.subject.title || creditsCtrl.subject.name}}</a> → {{'CREDITS' | translate}}
    </h1>

    <div class="credits__people">
      <section class="credits__group" ng-repeat="(type, creatorsGroup) in creditsCtrl.credits" ng-if="type !== 'id' && creatorsGroup.length">
        <h2 class="title credits__groupTitle">{{type | uppercase | translate}}</h2>
        <div class="credits__groupContent">

          <div class="credits__person" ng-repeat="person in creatorsGroup">
            <a class="credits__photo" ui-sref="person({personId: person.id})">
              <cover path="{{person.profile_path}}" view="credit" type="profile"></cover>
            </a>
            <div class="credits__info">
              <a ui-sref="person({personId: person.id})" class="credits__name link">{{person.name}}</a><br/>
              <span class="credits__role">{{person.character || person.job}}</span>
            </div>
          </div>

        </div>
      </section>
    </div>

  </div>

</div>