<div ng-if="creditsCtrl.status == 'Loading'">
  <div class="loader"></div>
</div>

<div class="credits" ng-if="creditsCtrl.status == 'Ready'">

  <backdrop path="{{creditsCtrl.filmContent.backdrop_path}}" class="backdrop--credits"></backdrop>

  <div class="credits__wrapper">

    <h1 class="credits__title">
      <a class="credits__filmLink" ui-sref="film({filmId: creditsCtrl.filmContent.id})">{{creditsCtrl.filmContent.title}}</a> → Credits
    </h1>

    <div class="credits__people">
      <section class="credits__group" ng-repeat="(type, creatorsGroup) in creditsCtrl.creditsContent" ng-if="type !== 'id'">
        <h2 class="credits__groupTitle">{{type}}</h2>
        <div class="credits__groupContent">

          <div class="credits__person" ng-repeat="person in creatorsGroup">
            <a class="credits__photo" ui-sref="person({personId: person.id})">
              <cover path="{{person.profile_path}}" view="credit" type="profile"></cover>
            </a>
            <div class="credits__info">
              <a ui-sref="person({personId: person.id})" class="credits__name link">{{person.name}}</a><br/>
              <span class="credits__role">{{person.character || person.job}}</span>
            </div>
          </div>

        </div>
      </section>
    </div>

  </div>

</div>