<div ng-if="filmCtrl.filmStatus == 'Loading'">
  <div class="loader"></div>
</div>

<div class="film" ng-if="filmCtrl.filmStatus == 'Ready'">

  <backdrop path="{{filmCtrl.filmContent.backdrop_path}}" class="backdrop--film"></backdrop>

  <div class="film__content">
    <header class="film__header">
      <section class="film__headerTop">
        <div class="film__wrapper">
          <div class="film__poster">
            <cover path="{{filmCtrl.filmContent.poster_path}}" view="movie" type="poster"></cover>
          </div>

          <div class="film__main">
            <div class="film__titles">
              <h1 class="title title--main film__title">{{filmCtrl.filmContent.title}}</h1>
              <span ng-if="filmCtrl.filmContent.original_title != filmCtrl.filmContent.title" class="title film__title film__title--original">{{filmCtrl.filmContent.original_title}}</span>
            </div>
            <div class="film__genres">
              <a class="film__genre button" ng-repeat="genre in filmCtrl.filmContent.genres" href="#">{{genre.name}}</a>
            </div>

            <table>
              <tr ng-if="filmCtrl.filmContent.production_countries">
                <td>Countries</td>
                <td class="film__info">
                  <div ng-repeat="country in filmCtrl.filmContent.production_countries" class="film__infoItem famfamfam-flags {{country.iso_3166_1 | lowercase}} flag" title="{{country.name}}"></div>
                </td>
              </tr>
              <tr ng-if="filmCtrl.filmContent.runtime">
                <td>Runtime</td>
                <td class="film__info">
                  <span class="film__infoItem">
                    {{filmCtrl.filmContent.runtime}}
                  </span>
                </td>
              </tr>
              <tr ng-if="filmCtrl.filmContent.release_date">
                <td>Release date</td>
                <td class="film__info">
                  <span class="film__infoItem">
                    {{filmCtrl.filmContent.release_date}}
                  </span>
                </td>
              </tr>
              <tr ng-if="filmCtrl.filmContent.status">
                <td>Status</td>
                <td class="film__info">
                  <span class="film__infoItem">
                    {{filmCtrl.filmContent.status}}
                  </span>
                </td>
              </tr>
              <tr ng-if="filmCtrl.filmContent.budget">
                <td>Budget</td>
                <td class="film__info">
                  <span class="film__infoItem">
                    {{filmCtrl.filmContent.budget}}
                  </span>
                </td>
              </tr>
              <tr ng-if="filmCtrl.filmContent.revenue">
                <td>Revenue</td>
                <td class="film__info">
                  <span class="film__infoItem">
                    {{filmCtrl.filmContent.revenue}}
                  </span>
                </td>
              </tr>
              <tr ng-if="filmCtrl.creditsContent.directors.length">
                <td>Directors</td>
                <td class="film__info">
                  <span class="film__infoItem" ng-repeat="person in filmCtrl.creditsContent.directors">
                    <a ui-sref="person({personId: person.id})" class="link">{{person.name}}</a>
                  </span>
                </td>
              </tr>
              <tr ng-if="filmCtrl.creditsContent.producers.length">
                <td>Producers</td>
                <td class="film__info">
                  <span class="film__infoItem" ng-repeat="person in filmCtrl.creditsContent.producers">
                    <a ui-sref="person({personId: person.id})" class="link">{{person.name}}</a>
                  </span>
                </td>
              </tr>
              <tr ng-if="filmCtrl.creditsContent.screenplay.length">
                <td>Screenplay</td>
                <td class="film__info">
                  <span class="film__infoItem" ng-repeat="person in filmCtrl.creditsContent.screenplay">
                    <a ui-sref="person({personId: person.id})" class="link">{{person.name}}</a>
                  </span>
                </td>
              </tr>
              <tr ng-if="filmCtrl.creditsContent.story.length">
                <td>Story</td>
                <td class="film__info">
                  <span class="film__infoItem" ng-repeat="person in filmCtrl.creditsContent.story">
                    <a ui-sref="person({personId: person.id})" class="link">{{person.name}}</a>
                  </span>
                </td>
              </tr>
            </table>
          </div>
          <div class="film__rating">
            <span class="film__voteContent">{{filmCtrl.filmContent.vote_average}}</span>
            <span class="film__voteCount">{{filmCtrl.filmContent.vote_count}}</span>
          </div>
        </div>
      </section>
    </header>

    <section class="film__headerBottom" ng-if="filmCtrl.filmContent.overview">
      <div class="film__wrapper">
        <h2 class="title">Description</h2>
        <p class="film__description">
          {{filmCtrl.filmContent.overview}}
        </p>
      </div>
    </section>

    <section class="cast" ng-if="filmCtrl.creditsContent.cast.length">
      <div class="cast__wrapper">
        <div class="cast__headline">
          <h2 class="title">Cast</h2>
          <a ui-sref="credits_movie({id: filmCtrl.filmContent.id})" ng-if="filmCtrl.creditsContent.cast.length + filmCtrl.creditsContent.crew.length > 6" class="button">Full Cast & Crew</a>
        </div>
        <div class="cast__grid">
          <a ui-sref="person({personId: person.id})" class="cast__element" ng-repeat="person in filmCtrl.creditsContent.cast | limitTo:6">
            <cover path="{{person.profile_path}}" view="cast" type="profile"></cover>
            <span class="cast__info">
              <span class="cast__name">{{person.name}}</span><br/>
              <span class="cast__character">as<br/>{{person.character}}</span>
            </span>
          </a>
        </div>
      </div>
    </section>

    <section class="gallery" ng-if="filmCtrl.gallery.length">
      <div class="gallery__wrapper">
        <div class="gallery__headline">
          <h2 class="title">Gallery</h2>
          <a ui-sref="gallery_movie({id: filmCtrl.filmContent.id})" ng-if="filmCtrl.movieGalleryContent.backdrops.length > 6" class="button">Full Gallery</a>
        </div>
        <ng-image-gallery class="gallery__content gallery__content--film" images="filmCtrl.gallery" bg-close="true"></ng-image-gallery>
      </div>
    </section>

    <section class="videos" ng-if="filmCtrl.trailer">
      <div class="videos__wrapper">
        <div class="videos__headline">
          <h2 class="title">Trailer</h2>
          <a ng-if="filmCtrl.videos.length > 1" ui-sref="videos({id: filmCtrl.filmContent.id})" class="button">More Videos</a>
        </div>
        <div class="videos__item">
          <iframe class="videos__iframe" ng-src="{{filmCtrl.trailer}}" frameborder="0"></iframe>
        </div>
      </div>
    </section>

  </div>

</div>