<div ng-if="seancesCtrl.status == 'Loading'">
  <div class="loader"></div>
</div>

<div class="seances" ng-if="seancesCtrl.status == 'Ready'">
  <div class="subject">
    <h1 class="subject__title subject__title_main">"{{seancesCtrl.seancesContent.nameRU}}" в кино</h1>
  </div>

  <select class="select" ng-model="seancesCtrl.seancesSelect" ng-options="day for day in seancesCtrl.days" ng-change="seancesCtrl.getData(seancesCtrl.seancesSelect)"></select>

  <table ng-if="seancesCtrl.seancesContent.items" class="seances__list">
    <tr class="seances__element" ng-repeat="cinema in seancesCtrl.seancesContent.items">
      <td class="seances__cell">
        <a class="link" ui-sref="cinema({cinemaId: cinema.cinemaID})">{{cinema.cinemaName}}</a>
      </td>
      <td class="seances__cell">
        <div ng-if="cinema.seance">
          <span class="seances__time" ng-repeat="seance in cinema.seance track by $index">{{seance.time}}{{$last ? '' : ', '}}</span>
        </div>
        <div ng-if="cinema.seance3D">
          <span class="seances__time" ng-repeat="seance in cinema.seance3D track by $index">{{seance.time}}<sup class="seances__3d">3D</sup>{{$last ? '' : ', '}}</span>
        </div>
      </td>
    </tr>
  </table>
  <p ng-if="!seancesCtrl.seancesContent.items">К сожалению, в Вашем городе нет сеансов на "{{seancesCtrl.seancesContent.nameRU}}".</p>
</div>