<div ng-if="filmCtrl.status == 'Loading'">
  <div class="loader"></div>
</div>

<div class="film" ng-if="filmCtrl.status == 'Ready'">
  <h1 class="film__title film__title_ru">{{filmCtrl.filmContent.nameRU}}</h1>
  <h2 class="film__title film__title_en">{{filmCtrl.filmContent.nameEN}}</h2>

  <div class="film__content">
    <img class="film__poster" ng-src="{{filmCtrl.posterPath}}" alt="Постер {{filmCtrl.filmContent.nameRU}}" />
    <div>
      <table class="film__details details">
        <tr class="details__element">
          <td class="details__title">
            Жанр
          </td>
          <td class="details__value">
           {{filmCtrl.filmContent.genre}}
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            Год
          </td>
          <td class="details__value">
            {{filmCtrl.filmContent.year}}
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            Продолжительность
          </td>
          <td class="details__value">
            {{filmCtrl.filmContent.filmLength}}
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            Страна
          </td>
          <td class="details__value">
            {{filmCtrl.filmContent.country}}
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            Премьера мир
          </td>
          <td class="details__value">
            {{filmCtrl.filmContent.rentData.premiereWorld}}
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            Премьера РФ
          </td>
          <td class="details__value">
            <p ng-if="filmCtrl.filmContent.rentData.premiereRU">
              {{filmCtrl.filmContent.rentData.premiereRU}}
            </p>
            <p ng-if=!filmCtrl.filmContent.rentData.premiereRU>
              –
            </p>
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            Рейтинг
          </td>
          <td class="details__value">
            <p ng-if="filmCtrl.filmContent.ratingData.rating">
              {{filmCtrl.filmContent.ratingData.rating}}
            </p>
            <p ng-if=!filmCtrl.filmContent.ratingData.rating>
              –
            </p>
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            Рейтинг IMDb
          </td>
          <td class="details__value">
            <p ng-if="filmCtrl.filmContent.ratingData.ratingIMDb">
              {{filmCtrl.filmContent.ratingData.ratingIMDb}}
            </p>
            <p ng-if=!filmCtrl.filmContent.ratingData.ratingIMDb>
              –
            </p>
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            Режиссеры
          </td>
          <td class="details__value">
            <p class="film__infoContent">
              <p ng-repeat="person in filmCtrl.filmContent.creators[0]" ng-if="person.nameRU">
                <a class="link" href="#/person/{{person.id}}">{{person.nameRU}}</a>
              </p>
              <p ng-repeat="person in filmCtrl.filmContent.creators[0]" ng-if="!person.nameRU">
                <a class="link" href="#/person/{{person.id}}">{{person.nameEN}}</a>
              </p>
            </p>
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            В ролях
          </td>
          <td class="details__value">
            <p class="film__infoContent">
              <p ng-repeat="person in filmCtrl.filmContent.creators[1]" ng-if="person.nameRU">
                <a class="link" href="#/person/{{person.id}}">{{person.nameRU}}</a>
              </p>
              <p ng-repeat="person in filmCtrl.filmContent.creators[1]" ng-if="!person.nameRU">
                <a class="link" href="#/person/{{person.id}}">{{person.nameEN}}</a>
              </p>
            </p>
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
            Описание
          </td>
          <td class="details__value">
            {{filmCtrl.filmContent.description}}
          </td>
        </tr>
        <tr class="details__element">
          <td class="details__title">
          </td>
          <td class="details__value">
            <a class="link" href="#/seances/{{filmCtrl.filmContent.filmID}}">Найти сеансы на "{{filmCtrl.filmContent.nameRU}}" в кино</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>