<div ng-if="filmCtrl.filmStatus == 'Loading'">
  <div class="loader"></div>
</div>

<div class="film" ng-if="filmCtrl.filmStatus == 'Ready'">

  <backdrop path="{{filmCtrl.film.backdrop_path}}" class="backdrop--film"></backdrop>

  <div class="film__content">
    <header class="film__header">
      <section class="film__headerTop">
        <div class="film__wrapper">
          <div class="film__poster">
            <cover path="{{filmCtrl.film.poster_path}}" view="movie" type="poster"></cover>
          </div>

          <div class="film__main">
            <div class="film__titles">
              <h1 class="title title--main film__title">{{filmCtrl.film.title}}</h1>
              <span ng-if="filmCtrl.film.original_title != filmCtrl.film.title" class="title film__title film__title--original">{{filmCtrl.film.original_title}}</span>
            </div>
            <div class="film__genres">
              <div class="film__genre" ng-repeat="genre in filmCtrl.film.genres">{{genre.name}}</div>
            </div>

            <table>
              <tr ng-repeat="param in filmCtrl.filmParams" ng-if="param[1]">
                <td>{{param[0] | uppercase | translate}}</td>
                <td class="film__info">
                  <span ng-if="param[0]!='production_countries'" class="film__infoItem">
                    {{param[1]}}
                  </span>
                  <div ng-if="param[0]=='production_countries'" ng-repeat="country in param[1] track by $index" class="film__infoItem famfamfam-flags {{country.iso_3166_1 | lowercase}} flag" title="{{country.name}}"></div>
                </td>
              </tr>
              <tr ng-repeat="crewGroup in filmCtrl.crew" ng-if="crewGroup[1].length">
                <td>{{crewGroup[0] | uppercase | translate}}</td>
                <td class="film__info">
                  <span class="film__infoItem" ng-repeat="person in crewGroup[1]">
                    <a ui-sref="person({personId: person.id})" class="link">{{person.name}}</a>
                  </span>
                </td>
              </tr>
            </table>

          </div>
          <div class="film__rating">
            <span class="film__voteContent">{{filmCtrl.film.vote_average}}</span>
            <span class="film__voteCount">{{filmCtrl.film.vote_count}}</span>
          </div>
        </div>
      </section>
    </header>

    <section class="film__headerBottom" ng-if="filmCtrl.film.overview">
      <div class="film__wrapper">
        <h2 class="title">{{'DESCRIPTION' | translate }}</h2>
        <p class="film__description">
          {{filmCtrl.film.overview}}
        </p>
      </div>
    </section>

    <section class="cast" ng-if="filmCtrl.credits.cast.length">
      <div class="cast__wrapper">
        <div class="cast__headline">
          <h2 class="title">{{'CAST' | translate }}</h2>
          <a ui-sref="credits_movie({id: filmCtrl.film.id})" ng-if="filmCtrl.credits.cast.length + filmCtrl.credits.crew.length > 6" class="button">{{'FULL_CREDITS' | translate }}</a>
        </div>
        <div class="cast__grid">
          <a ui-sref="person({personId: person.id})" class="cast__element" ng-repeat="person in filmCtrl.credits.cast | limitTo:6">
            <cover path="{{person.profile_path}}" view="cast" type="profile"></cover>
            <span class="cast__info">
              <span class="cast__name">{{person.name}}</span><br/>

              <span class="cast__character" ng-if="person.character">as<br/>{{person.character}}</span>
            </span>
          </a>
        </div>
      </div>
    </section>

    <section class="gallery" ng-if="filmCtrl.gallery.length">
      <div class="gallery__wrapper">
        <div class="gallery__headline">
          <h2 class="title">{{'GALLERY' | translate }}</h2>
          <a ui-sref="gallery_movie({id: filmCtrl.film.id})" ng-if="filmCtrl.movieGalleryContent.backdrops.length > 6" class="button">{{'FULL_GALLERY' | translate }}</a>
        </div>
        <ng-image-gallery class="gallery__content gallery__content--film" images="filmCtrl.gallery" bg-close="true"></ng-image-gallery>
      </div>
    </section>

    <section class="videos" ng-if="filmCtrl.trailer">
      <div class="videos__wrapper">
        <div class="videos__headline">
          <h2 class="title">{{'TRAILER' | translate }}</h2>
          <a ng-if="filmCtrl.videos.length > 1" ui-sref="videos_movie({id: filmCtrl.film.id})" class="button">{{'MORE_VIDEOS' | translate }}</a>
        </div>
        <div class="videos__item">
          <iframe class="videos__iframe" ng-src="{{filmCtrl.trailer}}" frameborder="0"></iframe>
        </div>
      </div>
    </section>

  </div>

</div>