<section class="videos" ng-if="videosCtrl.status == 'Ready'">
  <backdrop path="{{videosCtrl.film.backdrop_path}}" class="backdrop--credits"></backdrop>
  <div class="videos__wrapper">

    <h1 class="title title--main">
      <a class="videos__filmLink" ng-href="{{videosCtrl.getParentUrl()}}">{{videosCtrl.film.title || videosCtrl.film.name}}</a> → {{'VIDEOS' | translate}}
    </h1>

    <div class="videos__item" ng-repeat="video in videosCtrl.videos">
      <iframe class="videos__iframe" ng-src="{{video}}" frameborder="0"></iframe>
    </div>
  </div>
</section>