<section class="videos" ng-if="videosCtrl.status == 'Ready'">
  <backdrop path="{{videosCtrl.filmContent.backdrop_path}}" class="backdrop--credits"></backdrop>
  <div class="videos__wrapper">

    <h1 class="title title--main">
      <a class="videos__filmLink" ui-sref="film({filmId: videosCtrl.filmContent.id})">{{videosCtrl.filmContent.title}}</a> → Videos
    </h1>

    <div class="videos__item" ng-repeat="video in videosCtrl.videos">
      <iframe class="videos__iframe" ng-src="{{video}}" frameborder="0"></iframe>
    </div>
  </div>
</section>