<!DOCTYPE html>
<html lang="ru" ng-app="app" ng-cloak>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{pageTitle}} | CINEMANGULAR</title>
  <link rel="stylesheet" href="css/main.css" />
  <script src="app/app.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <meta name="theme-color" content="#00A3EB">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="page">
  <div ng-if="$root.loading" class="loader">
    <div class="loader__spinner spinner">
      <div class="spinner__rect spinner__rect--1"></div><div class="spinner__rect spinner__rect--2"></div><div class="spinner__rect spinner__rect--3"></div><div class="spinner__rect spinner__rect--4"></div><div class="spinner__rect spinner__rect--5"></div>
    </div>
  </div>
  <nav class="page__navigation navigation">
    <ul class="navigation__menu menu" ng-controller="LanguageController as langCtrl">
      <li class="menu__item"><a class="menu__link" ui-sref="movies.today"><i class="zmdi zmdi-movie menu__icon"></i> {{'MOVIES' | translate}}</a></li>
      <li class="menu__item"><a class="menu__link " ui-sref="search"><i class="zmdi zmdi-search menu__icon"></i> {{'SEARCH' | translate}}</a></li>
      <li class="menu__item"><span class="menu__link" ng-click="langCtrl.changeLanguage()"><i class="zmdi zmdi-globe menu__icon"></i> {{'CHANGE_LANGUAGE' | translate}}</span></li>
    </ul>
  </nav>
  <div class="page__content content">
    <div ui-view></div>
  </div>
  <footer ng-if="!$root.loading" class="page__footer footer">
    <div class="footer__wrapper">
      {{'DATA_PROVIDED_BY' | translate }} <a class="link" href="//www.themoviedb.org/" target="_blank">TMDb</a><br/>
      {{'BUILT_WITH' | translate }} <a class="link" href="https://angularjs.org/" target="_blank">Angular JS</a><br/>
      <a class="link" href="//github.com/kirillunlimited/cinemangular" target="_blank">{{'SOURCE_CODE' | translate }}</a><br/>
    </div>
  </footer>
</body>
</html>
